body {
  margin: 40px 100px 50px;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

.friend-card {
  background-color: #e8e8e8;
  color: #00334e;
  border: 2;
  border-radius: 4px;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  text-align: center;
}

.friend-age {
  padding: 4px 0;
  font-size: 0.8rem;
}

form {
  border-radius: 4px;
  padding: 20px;
}

input {
  align-items: center;
}
